<button mat-icon-button color="primary" (click)="goToReport()">
  <mat-icon>menu</mat-icon>
</button>
<button id="btnCancel" mat-icon-button color="primary" (click)="cancel()">
  <mat-icon>cancel</mat-icon>
</button>
<button id="btnSend" mat-icon-button color="primary" (click)="send()">
  <mat-icon>send</mat-icon>
</button>
<button id="btnList" mat-icon-button color="primary" (click)="list()">
  <mat-icon>list</mat-icon>
</button>
<button id="btnPhoto" mat-icon-button color="primary" (click)="photo()">
  <mat-icon>brightness_1</mat-icon>
</button>


<h2 *ngIf="report">
  <i>{{report.typeReport}}</i>
  <i>{{report.plate}}</i>
</h2>


<div id="app">
  <div>
    <video #camara width="640" height="480" autoplay></video>
  </div>

  <div>
    <canvas #canvas width="640" height="480"></canvas>
  </div>
</div>